/* Search Form */

.search-form {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 80%;
    height: 2rem;
    left: 10%;
    margin-bottom: 1rem;

}

.search-form > * {
    outline: 0;
    border: 0;
    padding-left: 1%;
}

/* Search Bar */

.search-bar {
    position: relative;
    border-radius: 0.5rem;
    left: 4%;
}

/* Region Filter */

.region-filter {
    position: relative;
    margin-left: auto;
    border-radius: 0.5rem;
}
