.country-card {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    background-color: rgb(196, 194, 194);
    border-radius: 1rem;
    transition: transform .2s;
    background-color: var(--element-color);
}

.country-card > * {
    margin-bottom: var(--space-sm);
}

.country-card-name {
    font-weight: bold;
    font-size: 2em;
    padding: 0.5rem;
}

.country-card-img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.country-card:hover {
    transform: scale(1.1);
}